<mat-toolbar *ngIf="isMenuRequire">
  <nav>
    <div>
      <span>Authentication</span>
    </div>

    <div class="nav__item">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/user']" *ngIf="isAdmin">User</a>
      <a [routerLink]="['/']">Customer</a>
      <a [routerLink]="['/']">Products</a>
      <form>
        <button (click)="logout()" class="nav__logout__btn" type="submit">
          <img src="../assets/logout-svgrepo-com.svg" alt="" />
        </button>
      </form>
    </div>
  </nav>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
